
/*----Buy----*/
.buy_items {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.buy_item {
  text-align: center;
  background: $color-primary;
  border: 2px solid $color-primary;
  width: 300px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.buy_item_title {
  color: white;
  font-size: 24px;
  padding: 12px;
}

.buy_item_price {
  background: white;
  color: $color-primary;
  font-size: 40px;
  padding: 20px;
}

.buy_item_list {
  color: white;
  text-align: left;
  font-size: 14px;
}

.buy_button {
  width: 260px;
  height: 40px;
  background: white;
  border-radius: 5px;
  color: $color-primary;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin: 0px auto;
}
.buy_button:hover{
  cursor: pointer;
}