
/*----Dignity---*/
.dignity {
  background: $section-background;
}

.title {
  color: $color-primary;
  text-align: center;
  font-size: 30px;
  margin-bottom: 37px;
}

.dignity_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.dignity_description {
  margin-left: 10px;
}

.dignity_item {
  display: flex;
  align-items: center;
  max-width: 580px;
  margin-bottom: 25px;
}

.plus {
  width: 32px;
  height: 32px;
}

