
/*---Review----*/
.review {
  background: $section-background;
}

.review_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  font-size: 14px;
  line-height: 1.3em;
}

.review_item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.review_image {
  height: 76px;
  width: 76px;
  border-radius: 50%;
  background: $color-primary;
}

.review_description {
  max-width: 450px;
  background: #EBEBEB;
  border-radius: 5px;
  padding: 15px;
}

.author {
  color: #989898;
}

.left {
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #ebebeb;
  border-left: 0;
}

