$color-primary: #445162;
$section-background: #F5F5F5;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

p {
  margin: 0;
}

textarea {
  font-family: 'Roboto', sans-serif;
  resize: none;
  outline: none;
}

input{
  outline: none;
}

.App {
  width: 1280px;
  margin: 0 auto;

}
.content{
  max-width: 1180px ;
  padding: 50px;
  line-height: 1.5em;
}


