
/*----About---*/

.about {
  display: flex;
  justify-content: space-between;
}

.about_description {
  max-width: 550px;
}

.about_image {
  height: 245px;
  width: 430px;
  background: $color-primary;
}
