
/*----Header----*/

.header {
  background: $color-primary;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 1px black;
}

.header_title {
  font-size: 60px;
  margin-bottom: 50px;
}

.header_image {
  height: 215px;
  width: 470px;
  background: white;
}

.header_item {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.7em;
}

.check {
  width: 25px;
  height: 19px;
  margin-right: 10px;
}
