
/*---Screenshots----*/
.screenshots_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.screenshots_item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.screenshots_image {
  height: 150px;
  width: 200px;
  background: $color-primary;
}

.screenshots_description {
  max-width: 330px;
  margin-left: 15px;
}

.screenshots_description_title {
  font-size: 24px;
  color: $color-primary;
  margin-bottom: 10px;
}

