/*----Footer----*/

.footer {
  background: $color-primary;
  color: white;

}

.footer_title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 0px 200px 0px 200px;
}

.footer_form {
  display: flex;
  flex-direction: column;

}

.footer_input {
  border-radius: 5px;
  padding: 13px;
  border: none;
  width: 470px;
  margin-bottom: 20px;
}

.footer_input::placeholder {
  color: $color-primary;
  font-size: 16px;
}

.form_button {
  width: 140px;
  height: 40px;
  background: white;
  border-radius: 5px;
  color: $color-primary;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin: 0px auto;
}

.form_button {
  cursor: pointer;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 130px;
}

.social_description {
  padding-left: 10px;
}

.social {
  display: flex;
}
.social_icons:hover{
  cursor: pointer;
}